@{
    ViewBag.Title = "Home Page";
}

<p>
    To see all books, please go to @Html.ActionLink("Books", "Index", "Book") .
</p>
<p>
    To see your read books, you have to login first, then go at @Html.ActionLink("read books", "Index", "ReadBook") .
</p>
<p>
    Thank you !
</p>